{% extends 'layout/layout.html' %} {% block content %}
<h2>SignUp Page</h2>

<h3>필수사항</h3>
<table>
  <form method="post" action="/signup" id="frm">
    <tr>
      <th>ID :</th>
      <td><input type="text" name="userid" id="userid" placeholder="아이디" required /></td>
    </tr>

    <tr>
      <th>PW :</th>
      <td><input type="password" name="userpw" id="userpw" placeholder="비밀번호" required /></td>
    </tr>

    <tr>
      <th>NAME :</th>
      <td><input type="text" name="username" id="username" placeholder="홍길동" required /></td>
    </tr>

    <tr>
      <th>PIC :</th>
      <td><input type="file" name="pofilePic" id="pofilePic" /></td>
    </tr>

    <th><button type="submit">회원가입</button></th>
  </form>
</table>

<script type="text/javascript">
  const frm = document.querySelector("#frm");
  const submitHandler = async (e) => {
    e.preventDefault();
    // const { userId, userPw, userName, pofilePic } = e.target;
    // console.log(userId.value, userPw.value, userName.value, pofilePic.value);
    const body = new FormData(e.target);
    // console.log(body);
    const response = await axios.post("http://localhost:3000/users", body, {
      header: {
        ["Content-type"]: "multipart/form-data",
      },
    });
    // console.log(response);
    if (response.status === 201) alert("회원가입이 완료되었습니다. 다시 로그인 해주세요");
    location.href = "/";
  };
  frm.addEventListener("submit", submitHandler);
</script>

{% endblock %}
